# postgresql connection url
PG=
# redis connection url
REDIS=
# discord bot token
DISCORD_TOKEN=
# minio access key
MINIO_AK=
# minio secret key
MINIO_SK=
# minio url (with port)
MINIO_URL=
# google cloud api key for Speech to Text (required for voice commands)
GOOGLE_CLOUD_APIKEY=
# loki url for logs
LOKI_URL=
# statping url (used by status command)
STATPING_URL=
# under what port the appmetrics server should run
DASH_PORT=
# 'production' or anything else for dev
NODE_ENV=not-production
# logging level
LOGGING=debug
